<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>책크인</title>
	<link href="/css/common.css" type="text/css" rel="stylesheet">
	<link href="/css/review/list.css" type="text/css" rel="stylesheet">
	<script src="/js/review/list.js"></script>
</head>
<body>
	<main id="main" layout:fragment="main">
		<section class="gu-container">
			<h1 class="d-none">지역 선택 폼</h1>
			<form class="gu-search-form" method="get">
				<div>
					<select name="gu" class="gu-list font">
						<option value="">지역별</option>
						<option th:each="g:${guList}" th:text="${g.name}" th:selected="(${selectedGu} == ${g.name})"></option>
					</select>
					<input class="gu-search-btn font" type="submit" value="검색" />							
				</div>
				<a class="reg-btn" href="reg">리뷰 등록</a>
			</form>
		</section>
		<section class="review-container">
			<div th:each="r:${list}" class="review-list">
				<div class="img-section">
				<h1 class="d-none">리뷰 사진</h1>
					<div class="review-info">
					<h1 class="d-none">리뷰 작성자 및 등록 날짜</h1>
						<div>
							<img th:src="${r.profileImg}" class="profile-img">
	                        <span class="nickname font" th:text="${r.nickName}">치치</span>						
						</div>
						<span th:text="${#calendars.format(r.regDate,'yyyy.MM.dd')}" class="regdate font">2021.06.13</span>
					</div>
					<div>
						<div class="review-img">
 	 						<img th:src="${r.imagePath}?:@{/images/location.png}">
  							<!-- <img th:src="${m.profileImg}?:@{/images/profile.png}"> --> 							
 							<form id="like-form">
 								<input type="hidden" name="reviewId" th:value="${r.id}">
								<img th:classappend="${map.get(r.id)}?'likeAdded':''" th:src="${map.get(r.id)}?'/images/thumb-up.png':'/images/like.png'" class="like"></img>
								<span class="bookstore-name" th:text="${r.bookstoreName}">한평책빵</span>						
							</form>
						</div>					
					</div>
				</div>
				<div class="content-section">
				<h1 class="d-none">리뷰 내용</h1>
					<div>
						<div class="hashtag-list">
							<span class="hashtag" th:text="${r.hashtagName}">아늑함</span>						
						</div>
						<div class="edit-del-btn">
							<a th:href="@{edit(id=${r.id})}"><img src="/images/edit.png"></a>
							<a onclick="if(!confirm('정말 삭제하시겠습니까?')) return false;" th:href="@{del(id=${r.id})}" href="del"><img src="/images/trash.png"></a>
						</div>
					</div>
					<div>
						<div th:text="${r.content}" class="review-content font">분위기가 넘 좋아요!</div>					
					</div>
				</div>
			</div>
		</section>
		<div class="reg-button"></div>	
	</main>
</body>
</html>