<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/mypage/index.css" rel="stylesheet">
    <link href="/css/common.css" rel="stylesheet">
    <title>my page</title>
</head>

<body>
    <main layout:fragment="main">
        <div class="title">마이페이지</div>
        <section class="profile-box">
            <img th:src="${member.profileImg}?:@{/images/profile.png}" class="profile-img" />
	              <a href="/mypage/info" th:href="@{/mypage/info}" class="btn modify-btn" type="submit">수정</a>
	            <div class="my-info">
	                <span th:text="${member.nickname}+'(관리자)'">nickname</span>
	                <span th:text="${member.email}">email</span>
	            </div>
	
	            <div class="my-activity">

	            </div>
        </section>

        <section>
        		<div class="create-btn">
                	<a th:href="@{/admin/bookstore/insert}">서점 생성하기 ➤</a>
                </div>
                <div class="dash-board">
                   <a href="/admin/bookstore">서점 관리</a>
                   <a href="/admin/member">멤버 관리</a>
                   <a href="/admin/review">리뷰 관리</a>
                   <a href="/admin/hash/list">해시태그 관리</a>
                </div>
        </section>
	 	   	 <div class="last-board">
	       	   	<a class="btn">관리자 이메일</a>
	           	<a th:href="@{/logout}" class="btn">로그아웃</a>
           	</div>
    </main>
</body>

</html>