<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/common.css" rel="stylesheet">
    <link href="/css/mypage/info.css" rel="stylesheet">
    <script src="/js/mypage/info.js"></script>
    <title>my info</title>
</head>
   <main layout:fragment="main">
	 <form method="post" action="/mypage/info/update" enctype="multipart/form-data">
		
		        <div class="title">내 정보 수정</div>
		        <section class="profile-section">
		            <img th:src="${member.profileImg}?:@{/images/profile.png}" class="profile-img" />
		            <a class="btn fake-btn">프로필 업로드</a>
		            <input type="file" name="file" class="d-none real-btn" value="프로필 사진 수정">
		        </section>
     		  <section class="form">
     		   <div class="error-message animation d-none">부적합한 항목이 있습니다</div>
                <div class="nick-align">
                	<label>NICKNAME</label>
             	  	<input type="button" class="btn nick-type font" value="중복 체크">
           		</div>
           		<span class="height">
					<input type="text" class="input" name="nickname" th:value="${member.nickname}">
					<span class="d-none nickname-message">사용 가능한 닉네임입니다</span>
				</span>
                
   				<label>EMAIL</label>
				<span class="height">
					<input type="text" class="input" name="email" th:value="${member.email}">
					<span class="d-none error-message">이메일 형식으로 입력하세요</span>
				</span>
                
                
				<div class="pwd-align" th:if="${member.password} != 'kakao'">
                	<label>PASSWORD</label>
             	  	<img src="/images/eye.png" class="pwd-type"></img>
           	   </div>
           	   <span class="height" th:if="${member.password} != 'kakao'">
					<input type="password" class="input" name="password" th:value="${member.password}">
					<span class="d-none error-message">4 글자 이상, 20 글자 미만으로 입력하세요</span>
				</span>
				
			
           		 <div class="btn-list">
	                <a th:href="@{/bye(id=${member.id})}" class="btn"  onclick="if(!confirm('정말 탈퇴하시겠습니까?')) return false;" >탈퇴</a>
	                <input type="hidden" name="id" th:value=${member.id}>
	                <input type="submit" class="btn" value="수정">
                </div>
	        </section>
      </form>
   </main>

</html>