input {
    font-family: 'TmoneyRoundWindRegular';
} 

.img{
	width: 100px;
	height: 100px;
	border-radius: 50px;	
	padding: 0px;
	margin: 5px 10px;
}
#map{
	width: 100%;
	height: 250px;
	border: 1px solid black;
	margin-top: 10px;
	border-radius: 2px;
}
.store-name{
	border-bottom: solid 1px ;
	padding-bottom: 10px;
	padding-top: 20px;
	display: flex;
} 

.span-title{
	font-weight: bold;
	margin: 5px 0px 0px 5px;
	
}
.span-adress{
	font-size: small;
}
.span-bottom{
	border-bottom: 20px;
}
.stamp-info>.info img {
	width: 20px;
	height: 20px;
}
.stamp-info{
	width: 70%;
}
.stamp-info>.info div {
    font-size: 10px;
    margin: 0 0 5px 0;
	display: flex;
	align-items: center;
}
.stamp-info>.info>div>div {
    margin: 0 0 0 5px;
}
.stamp-info>.info div div{
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	display: block;
	width: 90%;
}


/* .map-section>div {
	font-size: 15px;
	font-weight: bold;
	margin-top: 20px;
}

#map {
	width: 100%;
	height: 345px;
	border: 1px solid black;
	margin-top: 5px;
	border-radius: 2px;
} */

.wrap {position: absolute;left: 26px;bottom: 33px;width: 240px;height: 112px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'TmoneyRoundWindRegular';line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {height: 101px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {margin: 0px; padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: 14px 0 0 67px;height: 75px;font-weight: bold;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 53px;height: 51px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {position: absolute;margin-left: -12px;left: 50%;bottom: 1px;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;font-size: 10px;}