
.operation{
    width: 100%;
    width:100%;
}
    .operation .hi-span{
        padding: 3px 7px;
        font-size: 11px;
    }
    
.stamp-menu{
   	display:flex;
   
    
    flex-wrap: wrap; 
    margin: 25px 5px;
    justify-content: center;
}
	 .each-icon{
	 	display: flex;
	 	position: relative;
	 	margin: 0 10px 50px 10px;
    }
	
    .each-icon .icon-img{
        width:80px;
        height:80px;
        border-radius:50px;
    }

    .each-icon .hi-span{
  		position:absolute;
        bottom: -30px;
        font-size: 13px;
        text-align:center;
        width: 80px;
    }

    .stamp-class{
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	opacity: 0.8;
    }
    
    select{
        border-radius: 10px;
        border: none;
        font-size: 15px;
    }
    
    .small-font{
    	font-size: 0.6rem;
    	color: #776f74;
    }