<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

    
<mapper namespace="com.checkin.web.dao.HashtagReviewDao">
	
	<select id="get" resultType="com.checkin.web.entity.HashtagReview">
		select * from hashtag_review where id = #{id}
	</select>
	
	<insert id="insert" parameterType="com.checkin.web.entity.HashtagReview">
     	insert into hashtag_review(Hashtag_id,Review_id)
     	values(#{hashtagId}, #{reviewId})
    </insert>
    
    <delete id="delete" parameterType="int">
    	delete from hashtag_review
    	<where>
    		Hashtag_id = #{hashtagId} and Bookstore_id = #{reviewId};
    	</where>
    </delete>	
    
    <update id="update" parameterType="com.checkin.web.entity.HashtagReview">
	    update
	     	<set>
				<if test="hashtagId != null"> Hashtag_id = #{hashtagId},</if>
				<if test="reviewId != null"> Review_id = #{reviewId},</if>
	     	</set>
	     	where Hashtag_id =#{hashtagId}
    </update>

</mapper>