@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0px;
}

body {
    height: 100%;
    font-family: 'TmoneyRoundWindRegular';
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    cursor: pointer;
    color: initial;
    text-decoration: initial;
}

.d-none {
    display: none !important;
}

button {
    border: 0;
    outline: 0;
}

/* -------------------------------------------------------------- */

.flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.font {
    font-family: 'TmoneyRoundWindRegular';
}

.text-strong {
	font-weight: bold;
	color: rgb(250, 195, 43);
}

:root {
    --text-color-basic: #464646 !important;
    --text-color-light: #E2E2E2 !important;
    --text-color-strong: #FD9F28 !important;
    --bg-color-light: #FFFEFD !important;
    --hover-color-bg: #EFF0F1;
    --border-color-light: #E4E6E8;
}

/* -------------------------------------------------------------- */

#main {
	padding: 70px 0 60px 0;
}

.gu-search-form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.gu-list {
	height: 30px;
	font-size: 13px;
	padding-left: 10px;
}

	.gu-list>option {
		font-size: 13.3px;
	}	
	
.gu-search-btn {
	height: 30px;
	font-size: 13px;
}

.reg-btn {
	display: inline-block;
	font-size: 13px;
	color: white;
 	font-weight: bold;
 	width: 80px;
	padding: 7px 0;
	text-align: center;
	border-radius: 3px;
	background-color: rgb(224, 223, 223);
}

.review-container {
	margin-top: 10px;
}

.review-list {
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 6px;
}

	.review-info {
        display: flex;  
        justify-content: space-between;
        margin-bottom: 10px;
    }
    
    .review-info>div {
    	display: flex;   
    }

        .profile-img {
            background-color: rgb(224, 223, 223);
            width: 35px;
            height: 35px;
            border-radius: 50%;
        }

        .nickname {
        	font-size: 18px;
            margin-left: 10px;
            line-height: 35px;
        }
        
        .regdate {
        	font-size: 12px;
            text-align: right;
            line-height: 35px;
        }         
        
.img-section>div:nth-child(2) {
	text-align: center;
}        
        
 	.review-img {
		display: inline-block;
		position: relative;
		width: 100%;
		height: 230px;
		background-color: rgb(224, 223, 223);
	} 
	
	.review-img>img {
		width: 100%;
		height: 230px;
		border-radius: 3px;
	}
	
	.review-img>div {
		display: flex;
		position: absolute;
		left: 7px;
		bottom: 0px;
		background-color: rgb(245, 245, 245);
		margin: 5px 0 6px 0;
		padding: 5px;
		border-radius: 5px;
	} 
		
		.like {
			width: 15px;
			height: 15px;
			margin: 0 6px 0 3px;
		}
	
	.bookstore-name {
		font-size: 12px;
		font-weight: bold;
		line-height: 15px;
	}
	
.content-section>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
	
	.hashtag-list {
		margin: 5px 0;
	}	
	
		.hashtag {
			display: inline-block;
			border: 1px solid black;
			padding: 3px 10px;
			font-size: 13px;
			border-radius: 10px;
		}
	
	.edit-del-btn>a>img {
		width: 20px;
		height: 20px;
	}

	.review-content {
		border: 1px solid black;
		box-sizing: border-box;
		resize: none;
		width: 100%;
		height: 45px;
 		font-size: 12px;
		padding: 7px;
	}