section{
    padding-top: 40px;
}
select{
    border-radius: 10px;
}

/*--mini nav--*/
.mini-nav{
    margin-top: 40px;
    border-top: 1px solid black;
    display: flex;
}
    .mini-nav a{
        padding: 10px 5px;
        flex-basis: 1;
        text-align: center;
        width:100%;
        
        font-size: 10px;
    }
    .mini-nav .mini-nav-page{
        color: black;
        border-bottom: 1px solid black;
    }

/*--filter--*/
.operation{
	display: flex;
	justify-content: space-between;
	margin-bottom:10px;
}
.operation div{
	display: inline-block;	
}
input[type="text"]{
    border-radius: 20px;
    border: 1px solid gray;
    padding: 5px;
    padding-left: 10px;
}
/*--card--*/
.card{
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 15px;
    padding: 15px;

}
    .card .card-img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
        display: inline-block;
    }

    .card .hi-span span{
        display:flex;
    }

    .card .hi-span{
        display: inline-block;
        margin: 10px 10px;
    }

    .card .btn-list{
        text-align: right;
        position: relative;
        white-space: nowrap;
    }
    
.assign-list{
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 56px;
	top: 25px;
}
	
	.assign-list a{
		border-radius: 7px;
		padding: 6px 10px;
		margin: 1px 0;
		
		background-color: #0d94a7;
		color: white;
		font-size: 12px;
		font-weight: normal;
		z-index: 10;
		text-align: center;
	}
	
	.assign-list a:hover{
		background-color: var(--secondary);
	}
	
	
.animation{
	 	animation-duration: 0.6s;
	 	animation-name: slidein;
	}

		@keyframes slidein {
		  from {
		    margin-top: 10%;
		    white-space: nowrap;
		    opacity: 0.5;
		  }
		
		  to {
		  }
		}