@font-face {
    font-family: 'TmoneyRoundWindRegular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/TmoneyRoundWindRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

select{
	font-family: 'TmoneyRoundWindRegular';
	border-radius: 10px;
	background-color: white;
	padding: 2px 0 2px 5px;
}

.font {
	font-family: 'TmoneyRoundWindRegular';
}

input{
		border-radius: 10px;
		border: 1px solid gray;
}
	
:root {
    --primary: #bdae9d;
    --secondary: #a3907a;
    --danger: #fb0603;
    --gray: #f8f9fa;
  }

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'TmoneyRoundWindRegular';
}

main{
	padding: 40px 0 60px 0;
}

a {
    color: #181818;
    text-decoration: none;
    background-color: initial;
}

ul,ol{
    list-style: none;
}

.btn {
    color: #fff;
    background-color: var(--primary);
    padding: 4px 14px;
    cursor: pointer;
    transition: all 0.4s;
    border-radius: 8px;
}


.truncate{
   white-space:nowrap;
   overflow: hidden !important;
   text-overflow:ellipsis !important;
}

.d-none{
    display: none;
}

section{
    margin: 0px 20px;
}
/*---mypage---*/
.title{
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
    display: block;
}

