<!DOCTYPE html>
<html xmlns:th="http://www.themeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="/inc/layout">

<head>
	<meta charset="UTF-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>책크인</title>
	<link href="/css/common.css" type="text/css" rel="stylesheet">
	<link href="/css/map/main.css" type="text/css" rel="stylesheet">
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=41cefddc70d106e89cd2a27e1221cba6"></script>
	<script src="/js/map/main.js"></script>
</head>
<body>
	<main id="main" layout:fragment="main">
		<section class="search-section">
			<form id="form-content" method="get">
				<div class="search-bookstore">
					<input name="b" class="font" type="text" placeholder="가고 싶은 서점을 검색하세요">
					<img class="moveToBookstore" src="/images/search.png">
				</div>			
			</form>
		</section>
		<section class="map-section">
			<div>내 주변 독립서점</div>
			<div id="map">
			</div>			
		</section>
		<div class="nearby-stamp-title">즐거운 스탬프 투어</div>
		<section class="nearby-stamp">
			<div th:each="gu:${gu}" class="stamptour-info">
				<a th:href="@{/bookstamp/detail(id=${gu.id})}">
					<img class="stamptour-img" th:src="${gu.img}?:@{/images/bookstampImg1.jpg}">
				</a>
				<div class="stamptour-content">도장 찍는 재미! <br/> <span th:text="${gu.name}">강남구</span> 독립서점으로 스탬프 투어를 떠나보세요</div>
			</div>
		</section>
	</main>
</body>